  @model Perpustakaan.ViewModels.PegawaiUsersVM;
  @{
  ViewData["Title"] = "Tambah Pegawai";
  }

  @section breadcrumb{
  <div class="row mb-2">
      <div class="col-sm-6">
          <h1 class="m-0 text-dark">Tambah Data Pegawai</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Peminjaman">Home</a></li>
              <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Pegawai">Pegawai</a></li>
              <li class="breadcrumb-item active">Tambah Pegawai</li>
          </ol>
      </div><!-- /.col -->
  </div><!-- /.row -->
  }

  <div class="row justify-content-center">
      <!-- left column -->
      <div class="col-md-8">
          <!-- general form elements -->
          <div class="card card-primary">
              <div class="card-header">
                  <h3 class="card-title">Formulir Tambah Data Pegawai</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form asp-action="Create" asp-controller="Pegawai" method="POST">
                  <div class="card-body">
                    <span asp-validation-for="pegawaiVm.Nip" class="text-danger"></span>
                      <div class="form-group">
                          @Html.LabelFor(m => m.pegawaiVm.Nip)
                          <input asp-for="pegawaiVm.Nip" type="text" class="form-control">
                      </div>
                    <span asp-validation-for="pegawaiVm.NamaPegawai" class="text-danger"></span>
                      <div class="form-group">
                          @Html.LabelFor(m => m.pegawaiVm.NamaPegawai)
                          <input asp-for="pegawaiVm.NamaPegawai" type="text" class="form-control">
                      </div>
                    <span asp-validation-for="pegawaiVm.Alamat" class="text-danger"></span>
                      <div class="form-group">
                          @Html.LabelFor(m => m.pegawaiVm.Alamat)
                          <textarea asp-for="pegawaiVm.Alamat" class="form-control" rows="3"></textarea>
                      </div>
                    <span asp-validation-for="pegawaiVm.NoHp" class="text-danger"></span>
                      <div class="form-group">
                          @Html.LabelFor(m => m.pegawaiVm.NoHp)
                          <input asp-for="pegawaiVm.NoHp" type="text" class="form-control">
                      </div>
                    <span asp-validation-for="usersVm.Email" class="text-danger"></span>
                      <div class="form-group">
                          @Html.LabelFor(m => m.usersVm.Email)
                          <input asp-for="usersVm.Email" type="text" class="form-control">
                      </div>
                    <span asp-validation-for="usersVm.Password" class="text-danger"></span>
                      <div class="form-group">
                          @Html.LabelFor(m => m.usersVm.Password)
                          <input asp-for="usersVm.Password" type="password" class="form-control">
                      </div>
                    <span asp-validation-for="usersVm.ConfirmPassword" class="text-danger"></span>
                      <div class="form-group">
                          @Html.LabelFor(m => m.usersVm.ConfirmPassword)
                          <input asp-for="usersVm.ConfirmPassword" type="password" class="form-control">
                      </div>
                  </div>
                  <!-- /.card-body -->

                  <div class="card-footer">
                      <button type="submit" class="btn btn-primary">Tambah</button>
                  </div>
              </form>
          </div>
          <!-- /.card -->

      </div>
      <!--/.col (left) -->
  </div>